/**
 * Overflow Carousel Patten for a more 
 * intuitive UI for responsive grids than 
 * having stacked boxes.
 *
 * codepen.io/cjwd/pen/cwgpk
 */
.carousel {
    max-width: 100%;
    overflow:hidden;
    overflow-x:scroll;

    @media only screen and (min-width: ~"@{desk}em") {
        overflow:auto; 
    }
}

/**
 * Indicator to users to know 
 * they can scroll across
 */
.scroll-indicator-wrapper {
    position: relative;
    height:60px;
}

    .scroll-indicator {
        position:absolute;
        top:0;
        right:0;
        .font-size(36);
        color:@brand-color;

        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;

         @media only screen and (min-width: ~"@{desk}em") {
            display:none; 
        }
    }
