/**
 * Base styles
 */
label, input, textarea {
    border:0;
    color:#fff;
}

input, textarea {
    width:100%;
    height:100%;
    padding: 2.25em 1em 1em;
    outline:0;
    text-align: center;
    background: none;
}

textarea {
    height: 12em;
    resize:none;
}

label {
    position: absolute;
    top:1.23em;
    left:1.23em;
    .font-size(13);
    color: @primary-color;
    opacity: 1;

    -webkit-transition:.333s ease top, .333s ease opacity;
    transition:.333s ease top, .333s ease opacity;
}

::-webkit-input-placeholder {
   color: #898989;
}

:-moz-placeholder { /* Firefox 18- */
   color: #898989;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #898989;  
}

:-ms-input-placeholder {  
   color: #898989;  
}


/*=============================================*\
    CONTACT FORM
\*=============================================*/

.contact-form {
    background-color: #0b0b0b;
    padding-bottom:4.375em;
    
    @media only screen and (min-width: ~"@{desk}em") {
        padding:2.375em 4.375em 4.375em 4.375em;
    }
    
}

#contact-form, .wpcf7-form {

    @media only screen and (min-width: ~"@{desk}em") {
        width:70%;
        margin:0 auto;
    }
}

.form-fields {
    margin-bottom:4.375em;

    li {
        border:2px solid #898989;
        border-bottom:0;
        border-left:0;
        border-right:0;
        margin-bottom:0;
        position:relative;
        background: none;

        &:first-child {
            border-top-width:0;
        }

        &:last-child {
            border-bottom:2px solid #898989;
        }
    }
}

.btn--long {
    max-width: 200px;
    
}

.btn--block {
    margin:0 auto;
}


/*=============================================*\
    STATE
\*=============================================*/
.js-hide-label label {
    opacity: 0;
    top:1.5em;
}

.js-unhighlight-label label {
    color:#999;
}



/*=============================================*\
    $ERRORS
\*=============================================*/

.form-messages {
    width:95%;
    margin:0 auto;
    padding: 1em;
    border:1px solid @primary-color;
    background: @brand-color;
    color:@primary-color;
    ul {
        list-style: none;
        margin:0;
        padding:0;
    }

    @media only screen and (min-width: ~"@{desk}em") {
        width:50%;
    }
    
}

.error {
    color:#e74c3c; //#c0392b;
}

.wpcf7-mail-sent-ok {
    border-color:@brand-color;
}