.hero {
    background: url("imgs/hero-bg.png") no-repeat scroll center center / cover  rgba(0, 0, 0, 1);
    height: auto;
    padding: 65px 0 300px;
    color:#fff;
    text-align: center;

}

.word-block::after {
    content: '{';
    display:inline-block;
    transform:rotate(-45deg);
}

.word-block {
    
}
    .title {
        .font-size(@mega-size);
        text-transform: uppercase;
        letter-spacing: 1.2rem;
    }

    .subtitle {
        font-weight: 400;
    }
    .title,
    .subtitle,
    .tagline {
        margin: 0;
    }
