.portfolio {

    width:160em;
    height:400px;
    /**
     * reset width to use normal
     * grid widths
     */
    @media only screen and (min-width: ~"@{desk}em") {
        width:inherit;
        height:auto;  
    } 
}

.portfolio__img {
    display: block;
    position: absolute;
    top: 100%;
    clip: rect(0px, 320px, 200px, 0px);

    @media only screen and (min-width: ~"@{desk}em") {
        position: static;
        width:100%;
        height:240px;
        clip:auto;

    }
}

.portfolio__item {
    width:320px;

    @media only screen and (min-width: ~"@{desk}em") {
        width: 25%;

    }

    figure {
        margin: 0;
        position: relative;
        
        
    }
    
    figcaption {
        padding: 20px;
        background: @brand-color;
        color: #fff;
        border-right:1px solid @primary-color;

        @media only screen and (min-width: ~"@{desk}em") {
            position: absolute;
            top: 0;
            left:0;
            border-right:0;
            

        }

    }

}


/**
 * Animation
*/

.fadeIn figcaption {
    height:100%;
    width:100%;
    opacity: 1;

    @media only screen and (min-width: ~"@{desk}em") {
        opacity:0;

    }
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.no-touch .fadeIn figure:hover figcaption,
/*.fadeIn figure.cs-hover figcaption*/ {
    opacity: 1;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}