/*------------------------------------*\
    BASE
\*------------------------------------*/
.container {
    padding:0 1.5em;
    
    @media only screen and (min-width: ~"@{desk}em") {
        padding:0 8em;
    }
}

.inner {
    padding:1em 2em;
    
    @media only screen and (min-width: ~"@{desk}em") {
        padding:2em 4em;
    }
    
}

.section-padding {
    padding-top:2.375em;
    padding-bottom: 2.375em;
    
    @media only screen and (min-width: ~"@{desk}em") {
        padding-top:4.375em;
        padding-bottom: 4.375em;
    }
    
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

.section-title {
    text-transform: uppercase;
    color:@brand-color;
}

.section-title::after {
    content: '~~~~~~~~ :: ~~~~~~~~';
    display: block;
    .font-size(14);
    color:#ccc;
}

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

.section-intro {
    line-height: 2;
    
    @media only screen and (min-width: ~"@{desk}em") {
        margin-bottom:6rem;
        line-height:2.5;
    }
}


#work,
#contact {
    @media only screen and (min-width: ~"@{desk}em") {
        padding-bottom:0;
    }
    
}

#about, 
#contact, 
#work {
    text-align: center;
}

/**
 * Services
*/
#services {
    background-color:#F0F0E8;
    text-align: center;
    
    @media only screen and (min-width: ~"@{desk}em") {
        background:#F0F0E8 url('imgs/woman-typing-on-mac.png') 100% 0 no-repeat;
    }
    
}

.services-listing {
    @media only screen and (min-width: ~"@{desk}em") {
        margin-right:50%;
    }
    
}

/**
 * Contact
*/

#contact {
    padding-bottom:0;
}

.contact-form {
    background-color:#0b0b0b;
    padding: 2.1875rem 0;
    label {
        display:none;
    }
}


.text-input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #737373;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: none;
    color: #ccc;
    padding: 3px 6px;
    position: relative;
    top: -2px;
    vertical-align: bottom;
    width: 333px;
    text-align: center;
}

.swag {
    opacity: .3;
}



