/*------------------------------------*\
    TALKING POINTS
\*------------------------------------*/

.talking-points {
    padding: 0 2em;
    border-right:1px solid @base-ui-color;
    line-height: 2;
    
    &.last {
        border-right:none;
    }
    
}

    .talking-points__image {
        width: 32px;
        height: 32px;
        display: block;
        fill: @brand-color;
        margin-top:2em;
        margin-bottom:2em;
        
        &.img--center {
            margin-left: auto;
            margin-right: auto;
        }
        
    }

    .talking-points__title {
        font-weight:800;
    }

    .talking-points__body {
        font-size:0.6875rem;  
    }

