.tp {

    width:80em;
    /**
     * reset width to use normal
     * grid widths
     */
    @media only screen and (min-width: ~"@{desk}em") {
        width:inherit;   
    } 
}

.talking-points {
    padding: 1em 2em;
    border-right: 1px solid @base-ui-color;
    line-height: 2;
    
    &.last {
        border-right:none;
    }
}

    .talking-points__image {
        width: 48px;
        height: 48px;
        display: block;
        fill: @brand-color;
        margin: 1em auto; 
 
        @media only screen and (min-width: ~"@{desk}em") {
            width: 32px;
            height: 32px;
        }
    }

    .talking-points__title {
        font-weight:800;
        
        @media only screen and (min-width: ~"@{desk}em") {
            .font-size(16);
        }
    }

    .talking-points__body {
        
        @media only screen and (min-width: ~"@{desk}em") {
            font-size:0.6875rem;     

        }
         
    }

