/*------------------------------------*\
    TALKING POINTS
\*------------------------------------*/

.talking-points {
    padding: 1em 2em;
    border: 0px solid @base-ui-color;
    border-bottom-width: 1px;
    line-height: 2;
    
    @media only screen and (min-width: ~"@{desk}em") {
        border-right-width: 1px;   
        border-bottom-width: 0;

    }
    
    &.last {
        border-bottom:none;
        
        @media only screen and (min-width: ~"@{desk}em") {
            border-right:none;
        }
    }
    
    
}

    .talking-points__image {
        width: 48px;
        height: 48px;
        display: block;
        fill: @brand-color;
        margin: 1em auto; 

        
        @media only screen and (min-width: ~"@{desk}em") {
            width: 32px;
            height: 32px;
        }
    }

    .talking-points__title {
        font-weight:800;
        
        @media only screen and (min-width: ~"@{desk}em") {
            .font-size(16);
        }
    }

    .talking-points__body {
        
        @media only screen and (min-width: ~"@{desk}em") {
            font-size:0.6875rem;     

        }
         
    }

